#how {
  margin-top: 50px;
  position: relative;
  &.active {
    animation: toTop 1s forwards linear;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    h2 {
      font-size: 3rem;
      font-family: "Crimson Text", sans-serif;
      font-weight: 500;
    }
    button {
      padding: 15px 20px;
      font-size: 18px;
      background-color: #dfecc6;
      border: none;
      border-radius: 25px;
      cursor: pointer;
    }
  }
  .three-rules {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    .rule {
      p:nth-child(1) {
        font-size: 5rem;
        color: #929292;
        margin-bottom: 20px;
      }
      p:nth-child(2) {
        font-family: "Crimson Text", sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      p:nth-child(3) {
        color: #6f6f6f;
        font-size: 16px;
      }
    }
  }
  @media (max-width: 768px) {
    .top {
      flex-direction: column;
      align-items: start;
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}

@keyframes toTop {
  from {
    bottom: -100px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
